<h2 id="title">Welcome to Hangman</h2>

{{#with-service 'hangman-store' as |hangman|}}
  <button onclick={{route-action 'startGame'}}>Start New Game</button>

  <h2>Word: <span class="word">{{hangman.state.game.guessWord}}</span></h2>

  {{#if hangman.state.game.hasWon}}
    <h2>You Win!</h2>
  {{/if}}

  {{#if hangman.state.game.hasLost}}
    <h2>You Lose! The word was {{hangman.state.game.currentWord}}</h2>
  {{/if}}

  <div class="hangman hangman--guesses-left-{{hangman.state.game.guessesLeft}}"></div>

  {{input value=guessLetter}}

  <button disabled={{or hangman.state.game.hasWon hangman.state.game.hasLost}} onclick={{route-action 'guess' guessLetter}}>Guess</button>
{{/with-service}}
